

.content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 10;
}
.content {
    display: flex;
    flex-direction: row;
    color: black;
    border-radius: 20px;
    justify-content: center-left;
    padding:50px;
    flex: 6;
    width: 100%;
    max-width: 1100px;
    min-height: 300px;
    background-color: rgba(167, 167, 167, 0.38);
    backdrop-filter: blur(40px);
    margin-right: 60%;
    filter: drop-shadow(0px 0px 10px rgba(167, 167, 167, 0.38));
}

.content .textcontent{
    display: flex;
    width: auto;
    flex:3;
    flex-direction: column;
    justify-content: center-left;
    align-items: flex-start;
    gap: 10px;
}
.content .textcontent h1{
    width: auto;
    font-family: var(--font-title);
    font-size: 56px;
    color: var(--color-prmary-button-color);
}
.content .textcontent  p{
    width: auto;
    font-family: var(--font-default);
    font-size: 20px;
    color: #0B0E2C;
    margin-top: -20px;
    margin-bottom: 20px;
}

.create-review-button {
    display: flex;
    justify-content: center; /* tengah horizontal */
    align-items: center;     /* tengah vertikal */
    width: 160px;
    gap: 10px;
    background-color: var(--color-primary-button);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.1s ease;
}
.create-review-button img{
    width: 10px;
    height: 20px;
    object-fit: contain;
}


.create-review-button:hover {
    
    background-color: var(--color-primary-button-hover);
    transition: background-color 0.3s ease;
}



/* Container background */
.background-slider {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  filter: blur(5px);
  background: #000000;
mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

/* Wrapper baris gambar */
.slider-row {
    box-shadow: inset 0 0 350px rgba(0,0,0,1);
  display: flex;
  gap: 30px;
  z-index: -3;
  position: absolute;
  width: max-content;
  animation: slideLeft linear infinite;
  opacity: 1;
}

/* Variasi baris */
.slider-row.row-1 { z-index: -3;top: 10%; animation-duration: 120s; }
.slider-row.row-2 { z-index: -3;top: 40%; animation-duration: 160s; }
.slider-row.row-3 { z-index: -3;top: 70%; animation-duration: 200s; }

/* Gambar */
.slider-row img {
    z-index: -4;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 20px 40px rgba(0,0,0,.4);
}

/* Ukuran random */
.size-sm { width: 120px; height: 170px; }
.size-md { width: 160px; height: 230px; }
.size-lg { width: 220px; height: 320px; }

/* Animasi */
@keyframes slideLeft {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}




.music-element-wrapper{
    position: relative;
    left: 90%;
}
.music-element {
  width: 350px;
  height: 350px;
}

.auto-rotate{
  animation: autoRotate 20s linear infinite;
}

@keyframes autoRotate{
    from{
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}



.container-music-element{
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: -150px;
    transform: translateX(-50%);
    animation : rotateMusicElement 20s linear infinite;
    z-index: -1;
}

@keyframes rotateMusicElement{
    from{
        transform: translateX(-50%) rotate(0deg);
    } to {
        transform: translateX(-50%) rotate(360deg);
    }
}

.running-text {
    position: absolute;
    background: #000000;
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(9, 9, 121, 1) 70%, rgba(2, 0, 36, 1) 100%);
    z-index: -1;
    color: white;
    font-size: 20px;
    bottom: -5%;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.text-list {
    display: flex;
    white-space: nowrap;
    animation: scrollLeft 30s linear infinite;
    will-change: transform;
}

.genre-span {
    margin-right: 40px;
    flex-shrink: 0;
}

@keyframes scrollLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-25%);
    }
} 


 

