@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

:root
{
    --color-primary: #6C4DFF;
    --color-secondary: #00E5FF;
    --color-background: #0B0F2B;
    --font-color: #ffffff;
    --font-default: 'Inter', sans-serif;
    --font-title: 'Oswald', sans-serif;
    --color-primary-button: #242fc7;
    --color-primary-button-hover: #6C4DFF;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font-default);
      background: linear-gradient(145deg, #000000 0% ,rgb(20, 0, 87) 10%, rgb(62, 0, 144) 50%, rgb(20, 0, 87) 100%);
    scroll-behavior: smooth !important;
    color: var(--font-color);
}
.title{
    font-family: var(--font-title);
}

.no-copy {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}


.shine-effect {
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: all 0.3s ease;
}

.shine-effect::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -60%;
    width: 20%;
    height: 200%;
    background: rgba(255, 255, 255, 0.7);
    transform: rotate(30deg);
    opacity: 0;
    transition: opacity 0.3s;
}

.shine-effect:hover::after {
    opacity: 1;
    animation: shineSlide 0.7s ease-out;
}

@keyframes shineSlide {
    0% {
        left: -60%;
    }
    100% {
        left: 150%;
    }
}

.no-decoration {
    text-decoration: none;
    color: inherit;
}

.a-normal {
    font-size: clamp(calc(var(--size )-10px), 2vw, var(--size));
}

@media (orientation: portrait) {

    .rotate-warning {
        display: flex;
    }
}

@media (orientation: landscape) {
    .rotate-warning {
        display: none;
    }
}

.rotate-warning{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    color: white;
    font-size: 24px;
    font-family: var(--font-title);
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
